.input {
  min-width: 200px;
  width: 100%;
  height: var(--input-h);
  border-radius: var(--radius-sm);
  border: var(--border);
  font-size: var(--text-size-r);
  color: var(--color-text);
  font-weight: var(--text-b);
  background-color: var(--color-bg-light);
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  transition: border-color 0.2s ease-in-out;
}

.input:focus {
  border-color: var(--color-primary);
}
