.calculator {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: start;
  background-color: #fff;
  border-radius: 4px;
  padding: 2rem;
  width: 90%;
  max-width: 1300px;
  min-height: 500px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  gap: 1rem;
}
