.button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--button-h);
  width: var(--button-w);
  padding: 0.5rem;
  border-radius: var(--button-circle);
  border: var(--border);
  border-color: var(--color-primary);
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.button:hover {
  background-color: var(--color-primary-100);
}
