*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --color-primary: #1a8dff;
  --color-primary-900: #0e1342;
  --color-primary-100: #e8f3ff;
  --color-border: #ccc;
  --color-text: #000;
  --color-bg-light: #fff;
  --input-h: 40px;
  --text-b: 600;
  --text-r: 400;
  --text-size-sm: 14px;
  --text-size-r: 16px;
  --text-size-l: 18px;
  --text-size-xl: 32px;
  --radius-sm: 4px;
  --border: 1px solid var(--color-border);
  --button-circle: 50%;
  --button-h: 42px;
  --button-w: 42px;
  --media-r: 768px;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: var(--text-regular);
  color-scheme: light;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
